.cliente-navbar {
  background-color: #375a7f;
  width: 100vw;
  min-height: 8vh;
}

.client-nav-wrapper {
  margin: 0 auto;
  height: -webkit-fill-available;
  text-align: center;
  padding: 2vh;
}

.hidden {
   display: none;
}

.client-btn {
  margin: 0;
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0 0.5rem;
}