/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

img {
  align-content: center;
  height: 150px;
  margin-top: -6em;
}

.img-login {
  margin-bottom: -2em;
}

.form-control  {
  background: gray;
  
}

.form-control::placeholder {
  color: darkslategray;
}

.fondito {
  background-image: radial-gradient(circle, rgba(80, 80, 80, 0.75), rgba(40, 40, 40, 0.750), rgba(0, 0, 0, 0.800));
  padding: 40px;
  margin-top: 4em;
  text-align: center;
  -webkit-box-shadow: 6px 7px 5px -1px rgba(36,36,36,0.74);
  -moz-box-shadow: 6px 7px 5px -1px rgba(36,36,36,0.74);
  box-shadow: 6px 7px 5px -1px rgba(36,36,36,0.74);  
}

.signupForm {
  text-align: left;
}

h2 {
  text-align: center;
  padding-bottom: 0.5em;
}

.signupRedirect {
  margin-top: 1em;
}

p {
  text-align: left;
}

.guardameLugar {
  font-family: 'Emblema One', cursive;
}

.login-box:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(217,214,169,1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(217,214,169,1);
  box-shadow: 0px 0px 10px 3px rgba(217,214,169,1);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
}

.missionSmall {
  display: none;
}

.missionNormal {
  display: inline-flex;
}

@media (max-width: 768px) {
  .tituloMision {
    font-size: 2em;
    padding-bottom: 1em;
  }
  .container-fluid {
    height: 100%;
    padding: 0;
    padding-bottom: 2em;
    margin: 0;
  }

  .form-group {
    margin:0;
    padding:0;
  }

  h2 {
    font-size: 1.5em;
  }

  .form-label {
    padding-top:.5em;
    margin:0;
  }

  button {
    margin-top: .5em;
  }

  .missionSmall {
    display: block;
  }

  .missionNormal {
    display: none;
  }

  .container-fluid {
    height: 100vh;
    padding: 0;
    padding-bottom: 2em;
    margin: 0;
  }

}