/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  min-height: 100vh;
}

.img-login-normal {
  margin-bottom: -2em;
  align-content: center;
  height: 150px;
  margin-top: -6em;
}

.form-control  {
  background: gray;
  
}

.form-control::placeholder {
  color: darkslategray;
}

.fondito {
  background-image: radial-gradient(circle, rgba(80, 80, 80, 0.75), rgba(40, 40, 40, 0.750), rgba(0, 0, 0, 0.800));
  padding: 40px;
  margin-top: 4em;
  text-align: center;
  -webkit-box-shadow: 6px 7px 5px -1px rgba(36,36,36,0.74);
  -moz-box-shadow: 6px 7px 5px -1px rgba(36,36,36,0.74);
  box-shadow: 6px 7px 5px -1px rgba(36,36,36,0.74);
}

.signupForm {
  text-align: left;
}

h2 {
  text-align: center;
  padding-bottom: 0.5em;
}

.signupRedirect {
  margin-top: 1em;
}

p {
  text-align: left;
  font-size: 1.05em;
}

.mision {
  text-shadow: 4px 4px 0 #2e2e2e;
}

.guardameLugar {
  font-family: 'Goblin One', cursive;
}

.login-box:hover {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(217,214,169,1);
  -moz-box-shadow: 0px 0px 10px 3px rgba(217,214,169,1);
  box-shadow: 0px 0px 10px 3px rgba(217,214,169,1);
  --webkit-transform: scale(1.02);
  --moz-transform: scale(1.02);
}

.missionSmall {
  display: none;
}

.missionNormal {
  display: inline-flex;
}

.tituloMision {
  padding-top: 1em;
}

footer {
  background: #2e2e2e;
  position: absolute;
  min-width: 100vw;
  min-height: 5em;
}

.text-footer {
  font-weight: bold;
  font-style: italic;
}

.legendGarage {
  margin-top: 1em;
  font-size: 1.3em;
}

.form-width {
  max-width: 1000px;
  
}

@media (max-width: 768px) {
  .img-login-normal {
    margin: 0em;
    margin-top: -6em;
  }

  .tituloMision {
    font-size: 2em;
    padding-bottom: 1em;
    padding-top: 0em;
  }

  .form-group {
    margin:0;
    padding:0;
  }

  h2 {
    font-size: 1.5em;
  }

  .form-label {
    padding-top:.5em;
    margin:0;
  }

  button {
    margin-top: .5em;
  }

  .missionSmall {
    display: block;
  }

  .missionNormal {
    display: none;
  }

  .container-fluid {
    min-width: 100vw;
    padding-bottom: 2em;
  }
  
  .text-footer {
    font-size: .8em;
  }
}