/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

img {
  align-content: center;
  height: 150px;
  margin-top: -6em;
}

.form-control  {
  background: gray;
  
}

.form-control::placeholder {
  color: darkslategray;
}

.fondito {
  background: rgba(0, 0, 0, 0.750);
  padding: 40px;
  margin-top: 4em;
  text-align: center;
  -webkit-box-shadow: 6px 7px 5px -1px rgba(36,36,36,0.74);
  -moz-box-shadow: 6px 7px 5px -1px rgba(36,36,36,0.74);
  box-shadow: 6px 7px 5px -1px rgba(36,36,36,0.74);  
}

.signupForm {
  text-align: left;
}

h2 {
  text-align: center;
  padding-bottom: 0.5em;
}

@media (max-width: 600px) {
  .container-fluid {
    height: 100%;
    padding: 0;
    padding-bottom: 2em;
    margin: 0;
  }

  .form-group {
    margin:0;
    padding:0;
  }

  h2 {
    font-size: 1.5em;
  }

  .form-label {
    padding-top:.5em;
    margin:0;
  }

  button {
    margin-top: .5em;
  }

}